#typing-text {
    position: absolute;
    width: 1080px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 128px;
    display: flex;
    align-items: center;
    color: #FAFAFF;
    font-family: 'League Spartan';
    line-height: 110px;
  }
    .typed-cursor {
      display: none;
    }

  #header-text{
    font-size: 44px;
    font-weight: bold;
    color: #FAFAFF;
  }

   #role-text{
    font-size: 34px;
    font-style: italic;
    display: flex;
    color: #FAFAFF;
  }
  #duration-text{
    font-size: 30px;
    text-align: right;
    padding-right: 30px;
    display: flex;
    white-space: nowrap;
    color: #FAFAFF;
  }
  
  #description-text{
    font-size: 30px;
    font-weight: lighter;
    margin-left: 30px;
    margin-bottom: 10px;
    color: #FAFAFF;
    list-style-type: disc;
  }
  