#typing-text {
  position: absolute;
  width: 1080px; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 128px;
  display: flex;
  align-items: center;
  color: #FAFAFF;
  font-family: 'League Spartan';
  line-height: 110px;
}
